<!DOCTYPE html>
<html>
<head>
  <title>Sale Tracking</title>
  <link rel="icon" href="http://learnanything318.ddns.net:10000/chaca2chiem-public/image-prod/chaca_icon.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Ensure Bootstrap JS is correctly loaded -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <style>
    body {
        background-color: #FFE3E8;
    }

    .table th {
      text-align: center;
      vertical-align: middle;
    }

    #ordered_date {
        width: 30%;
    }

    #customer {
        width: 30%;
    }

    #product-name {
        width: 35%;
    }

    #order-quantity-title {
        width: 25%;
    }

    #order-quantity {
        width: 30%;
    }

    #discount {
        width: 30%;
    }

    .product-row {
        text-align: center;
        vertical-align: middle;
    }

    .navbar {
        background-color: #FFF6D4;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .navbar-nav .nav-link {
        color: #333;
    }

    .navbar-nav .nav-link:hover {
        color: #0d6efd;
    }

    .content {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 30px;
    }
  </style>
</head>
<body>
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" aria-current="page" href="/"><h2>Cha Ca 79 Hai Chi Em</h2></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/warehouse">Warehouse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/product/import">Import</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Record Sales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid mt-4 content" style="margin margin-top: 0px;">
    <form method="POST" action="/order/tracking">
      <div class="mb-3">
        <label for="ordered_date">
          <b> Order Date: </b>
        </label>
        <input type="date" class="form-control" id="ordered_date" name="ordered_date" required>
      </div>
      <div class="mb-3">
        <label for="customer">
          <b> Customer: </b>
        </label>
        <input type="text" class="form-control" id="customer" name="customer" placeholder="Search for a customer">
        <div id="customer-list"></div>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Product Name</th>
          <th>Sale Price</th>
          <th>Quantity</th>
          <th>Discount (Price)</th>
          <th>Total Price</th>
        </tr>
        </thead>
        <tbody id="product-table">
        </tbody>
        <tfoot>
        <tr>
          <td colspan="5" style="text-align: right;"><b>Total Order Price:</b></td>
          <td id="total-order-price" class="product-row">0</td>
        </tr>
        </tfoot>
      </table>
      <div style="text-align: right">
        <button type="submit" class="btn btn-primary btn-lg">Submit Order</button>
      </div>
    </form>
  </div>
</div>

<script>
  // Function to add a product row to the table
  function addProductRow(product) {
      const row = document.createElement('tr');
      row.innerHTML = `
          <td id="product-id" class="product-row" name="product_${product.id}">${product.id}</td>
          <td id="product-name" class="product-row">${product.name}</td>
          <td id="product-sale-price" class="product-row">${product.sale_price}</td>
          <td id="order-quantity-title" class="product-row"><input id="order-quantity" type="number" value="0" name="product_quantity_${product.id}" required></td>
          <td id="discount-title" class="product-row"><input id="discount" type="number" value="0" name="product_discount_${product.id}" required></td>
          <td id="total_price_${product.id}" class="product-row">0</td>
          <input type="hidden" name="product_sale_price_${product.id}" value="${product.sale_price}">
      `;
      document.getElementById('product-table').appendChild(row);

      // Calculate total price on quantity change
      const quantityInput = row.querySelector('input[name="product_quantity_' + product.id + '"]');
      const discountInput = row.querySelector('input[name="product_discount_' + product.id + '"]');
      function calculateTotalPrice() {
          const quantity = quantityInput.value;
          const discount = discountInput.value;
          const totalPrice = (product.sale_price * quantity) - discount;
          row.querySelector(`#total_price_${product.id}`).textContent = totalPrice;
          updateTotalOrderPrice();
      }
      quantityInput.addEventListener('input', calculateTotalPrice);
      discountInput.addEventListener('input', calculateTotalPrice);


      const form = document.querySelector('form');
      form.addEventListener('submit', (event) => {
          if (quantityInput.value < 0 || discountInput.value < 0) {
              event.preventDefault();
              alert('Quantity and discount cannot be negative. Please enter values greater than or equal to 0.');
              if (quantityInput.value < 0) {
                  quantityInput.focus();
              } else {
                  discountInput.focus();
              }
          }
      });
  }

  function updateTotalOrderPrice() {
      let totalOrderPrice = 0;
      document.querySelectorAll('[id^="total_price_"]').forEach(totalPriceCell => {
          totalOrderPrice += Math.round((parseFloat(totalPriceCell.textContent) + Number.EPSILON) * 100) / 100;
      });
      document.getElementById('total-order-price').textContent = totalOrderPrice;
  }

  function formatCurrency(value) {
    return value.toLocaleString('en-US', { minimumFractionDigits: 2 });
  }

  // Fetch all products using GET method
  fetch('/products', {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json'
    }
  })
  .then(response => response.json())
  .then(data => {
    // Assuming the API response contains an array of products
    data.forEach(product => addProductRow(product));
  })
  .catch(error => {
    console.error('Error fetching products:', error);
    // Handle errors gracefully, e.g., display an error message to the user
  });

  // Fetch all customers using GET method
  const customerInput = document.getElementById('customer');
  const customerList = document.getElementById('customer-list');

  async function fetchCustomers() {
    try {
      const response = await fetch('/customers');
      const customers = await response.json();
      return customers;
    } catch (error) {
      console.error('Error fetching customers:', error);
      // Handle error, e.g., display an error message to the user
      return [];
    }
  }

  function filterCustomers(customers, searchTerm) {
    return customers.filter(customer => customer.name.toLowerCase().includes(searchTerm.toLowerCase()));
  }

  function displayCustomers(customers) {
    customerList.innerHTML = '';
    customers.forEach(customer => {
      const listItem = document.createElement('li');
      listItem.classList.add('list-group-item');
      listItem.textContent = customer.name;
      listItem.addEventListener('click', () => {
        customerInput.value = customer.name;
        customerList.innerHTML = '';
      });
      customerList.appendChild(listItem);
    });
  }

  async function handleInput() {
    const searchTerm = customerInput.value;
    const customers = await fetchCustomers();
    if (searchTerm.trim() === '') {
      customerList.innerHTML = '';
    } else {
      const filteredCustomers = filterCustomers(customers, searchTerm);
      displayCustomers(filteredCustomers);
    }
  }

  customerInput.addEventListener('input', handleInput);

</script>
</body>
</html>